<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - InstagramClone</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-papKjW4rC4l5VQsm2t5cJr06+OMyfshI3fF3e0q7xX5kP7zU6W3Io0E/2WzR0pR8yl4nO+Y3MKb3y3qJo9Z4UQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Favicon -->
    
    <link rel="stylesheet" href="~/assets/css/ion.rangeSlider.min.css" />
</head>
<body>


<div id="content-container">

    <!--Phone's pictures section-->
    <section class="phones">
        <img src="~/img/phones.png" alt="pictures on phone" class="phone-image">
        <div class="display-phone">
            <img class="picture" src="~/img/photo-1.png" alt="#">
            <img class="picture" src="~/img/photo-2.png" alt="#">
            <img class="picture" src="~/img/photo-3.png" alt="#">
            <img class="picture" src="~/img/photo-4.png" alt="#">
            <img class="picture" src="~/img/photo-5.png" alt="#">
        </div>
    </section>

    <!--User's log in section-->
    <section class="user">
        <div class="login-container">

            <!--Instagram Logo-->
            <div class="instagram-logo-box">
                <img class="instagram-logo" src="~/img/instagram-logo.png">
            </div>

            <!-- This is where your view content will render -->
            @RenderBody()

        </div>

        <!--Sign up & Get the app sections-->
        <div class="signup-container">
            <p>Don't have an account? <a class="signup" href="#" target="_blank">Sign up</a></p>
        </div>
        <div class="get-container">
            <p>Get the app.</p>
            <div class="download-container">
                <a class="download-appstore" href="#" target="_blank"><img class="appstore" src="~/img/applestore-logo.png"></a>
                <a class="download-googleplay" href="#" target="_blank"><img class="googleplay" src="~/img/googleplay-logo.png"></a>
            </div>
        </div>
    </section>

</div>

<footer class="page-footer">
    <div class="links-container">
        <ul class="links-list">
            <li><a class="link" href="#" target="_blank">ABOUT</a></li>
            <li><a class="link" href="#" target="_blank">PRESS</a></li>
            <li><a class="link" href="#" target="_blank">API</a></li>
            <li><a class="link" href="#" target="_blank">JOBS</a></li>
            <li><a class="link" href="#" target="_blank">PRIVACY</a></li>
            <li><a class="link" href="#" target="_blank">TERMS</a></li>
            <li><a class="link" href="#" target="_blank">LOCATIONS</a></li>
            <li><a class="link" href="#" target="_blank">TOP ACCOUNTS</a></li>
            <li><a class="link" href="#" target="_blank">HASHTAGS</a></li>
            <li><a class="link" href="#" target="_blank">LANGUAGE</a></li>
        </ul>
    </div>

    <div class="footer-span-container">
        <span class="footer-span">
            © 2020 INSTAGRAM FROM FACEBOOK
        </span>
    </div>
</footer>
</body>
</html>